* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
ul {
    list-style: none;
}
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    background: #cbecb9;
}
#actions {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
}
#actions .icon {
    font-size: 1.8em;
    margin: 0.3em;
}
#actions div {
    display: flex;
}
#actions #resetSave{
    margin-left: 2rem;
}
#actions .icon.active {
    color: red;
    transform: scale(1.2);
}
#color {
    position: fixed;
    top: 3.5em;
    left: 0.5em;
}
#color ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#color ul li {
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    margin: 0.5em;
}
#color ul li.black {
    border: 2px solid #101010;
    background: #2d2d2d;
}
#color ul li.red {
    border: 1px solid #ca0001;
    background: red;
}
#color ul li.green {
    border: 2px solid #0d5600;
    background: green;
}
#color ul li.yellow {
    border: 2px solid #c7c500;
    background: yellow;
}
#color ul li.blue {
    border: 1px solid #001ba5;
    background: blue;
}
#color ul li.active {
    box-shadow: 0 3px 6px rgba(0,0,0,.3);
    transform: scale(1.3);
}
#degree {
    position: fixed;
    top: 17em;
    left: 0.5em;
}
#degree ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#degree ul li {
    width: 1.4em;
    margin: 0.8rem 0.5em;
    background: black;
    transition: all 0.3s;
}
#degree ul li.active {
    box-shadow: 0 3px 6px rgba(0,0,0,.3);
    transform: scale(1.2);
}
#degree ul li.thin {
    height: 0.2rem;
}
#degree ul li.middle {
    height: 0.4rem;
}
#degree ul li.thick {
    height: 0.6rem;
}
